log_level=info
eventbus_max_queue_size=1024
eventbus_worker_count=2
eventbus_max_per_topic=256
web_port=8080
udp_discovery_port=9999
http_require_https=false
http_verify_peer=true
http_verify_host=true
http_ca_bundle=
mqtt_broker=tcp://localhost:1883
mqtt_client_id=ai_glasses_001
coap_endpoint=coap://localhost
opcua_endpoint=opc.tcp://localhost:4840
ntp_server=pool.ntp.org
als_http_endpoint=http://api.factory-scada.local/sensor/als
